<div class="flex items-center justify-center">
  <header class="p-6 sm:p-8 md:p-10" role="banner">
    <div class="flex items-center justify-between flex-wrap gap-3 mb-4 sm:mb-6 md:mb-8">
      <a class="text-2xl sm:text-3xl font-medium text-gray-700 hover:text-gray-900 dark:text-gray-300 dark:hover:text-gray-100" routerLink="/" aria-label="Amin Hlel's Blog | Software engineering and Java">Amin Hlel's Blog | Software engineering and Java</a>
      <app-theme-toggler></app-theme-toggler>
    </div>
    <nav aria-label="Main navigation">
      <ul class="flex flex-wrap items-center gap-x-4 gap-y-2">
        <li><a routerLink="/posts" class="font-medium text-gray-700 hover:text-gray-900 dark:text-gray-300 dark:hover:text-gray-100">Posts</a></li>
        <li><a routerLink="/search" class="font-medium text-gray-700 hover:text-gray-900 dark:text-gray-300 dark:hover:text-gray-100">Search</a></li>
        <li><a routerLink="/categories" class="font-medium text-gray-700 hover:text-gray-900 dark:text-gray-300 dark:hover:text-gray-100">Categories</a></li>
        <li><a routerLink="/contributions" class="font-medium text-gray-700 hover:text-gray-900 dark:text-gray-300 dark:hover:text-gray-100">Contributions</a></li>
      </ul>
    </nav>
  </header>
  
</div>