<div class="relative max-w-2xl mx-auto mt-8 flex flex-col items-center p-4 bg-white dark:bg-neutral-900 justify-center border-2 rounded-xl">
  <article>
    <figure class="mb-3">
      <img src="https://blog.nebrass.fr/images/playing-with-reactive-quarkus.webp" alt="">
    </figure>
    <header>
      <h2 class="text-lg md:text-xl font-medium text-gray-800 dark:text-gray-200 cursor-default">Playing with Reactive Quarkus</h2>
    </header>
    <p class="text-sm md:text-base mt-2 text-neutral-500 dark:text-gray-400 line-clamp-2">
      Here we go again for a new post 😁 After publishing my Quarkus book last September, I got many requests about creating reactive applications with the Quarkus Framework.
      Today, I will show you how to make a Reactive CRUD Application with the Quarkus Framework and backed by a PostgreSQL Database.
      Building our the Reactive Quarkus Application The full source code is available on my Github.
      We will generate our project using the code.quarkus.io. Our application will need 8 extensions from the portal:
      ...
    </p>
    <footer class="flex items-center gap-0.5 mt-4">
      <span class="text-neutral-500 text-sm font-light sm:font-medium dark:text-gray-400" title="2026-04-28 00:00:00 +0000 UTC">April 27, 2026 &nbsp;.&nbsp;</span>
      <span class="text-neutral-500 text-sm font-light sm:font-medium dark:text-gray-400">14 min &nbsp;.&nbsp;</span>
      <span class="text-neutral-500 text-sm font-light sm:font-medium dark:text-gray-400">Amin Hlel</span>
      <a class="absolute top-0 left-0 right-0 bottom-0 cursor-pointer" routerLink="/blog/playing-with-reactive-quarkus" aria-label="post link to Playing with Reactive Quarkus" ></a>
    </footer>
  </article>
</div>
